<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="in_folder" value="D:\sandbox\reficio\in" />
      <add key="out_folder" value="D:\sandbox\reficio\out" />
      <add key="log_file" value="D:\sandbox\reficio\log.txt" />
      <add key="error_file" value="D:\sandbox\reficio\error.txt" />
      <add key="overwrite_files" value="True" />
    </appSettings>
</configuration>